body{
    background-image: url(Img/shopping.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     
}

.box {
    scale: text-center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.filter{
    text-align:center;
}

.gentium-book-plus-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
